@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}

body {
  margin: auto;
  background-color: #187795;
  position: relative;
  overflow-x: hidden;
}

/* Nav Bar - Common  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #187795;
  width: 100%;
  min-height: 7vh;
}
nav .logo-container {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  margin-left: 2rem;
}
nav .logo-container .logo-icon img {
  max-width: 2rem;
}
nav .logo-container .logo {
  font-size: larger;
  color: #F0C808;
  font-weight: bold;
}
nav .nav-btn {
  margin-right: 2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A72608;
  border: none;
  border-radius: 5px;
}
nav .nav-btn:hover {
  background-color: #F0C808;
}
nav .nav-btn img {
  max-width: 1.5rem;
  transition: 0.4s;
  border-radius: 5px;
}
nav .nav-btn img.active {
  transform: rotate(90deg);
  background-color: #F0C808;
}

/* Aside-right */
.nav-links {
  border-radius: 5px;
  position: absolute;
  right: -100%;
  height: 90vh;
  background-color: #B7B6C1;
  transition: ease-in, 0.4s;
  visibility: hidden;
  z-index: -1;
}
.nav-links.active {
  right: 0;
  visibility: visible;
  z-index: 1000;
}
.nav-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  width: 20vw;
  align-items: center;
  justify-content: center;
}
.nav-links ul li {
  display: flex;
  align-items: center;
  color: #187795;
  width: 100%;
  height: 3rem;
  box-shadow: 0 4px 2px -2px gray;
}
.nav-links ul li:hover, .nav-links ul li:hover > * {
  background-color: #A72608;
  color: #F0C808;
  cursor: pointer;
}
.nav-links ul li a {
  text-decoration: none;
  color: #187795;
}

/* ------------------- */
/* MOBILE NAV-links STYLING */
/* ----------------- */
@media only screen and (max-width: 600px) {
  .nav-links {
    width: 100vw;
  }
  .nav-links ul {
    width: 100%;
  }
  .nav-links ul li {
    justify-content: center;
    box-shadow: 0 4px 2px -2px gray;
  }
}
/* ---------------- */
/* Search Container */
/* ---------------- */
.search-container {
  height: 4rem;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 0.5rem;
}
.search-container label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-container label input {
  background-color: white;
  height: 1.5rem;
  border: none;
  border-radius: 10px;
  outline: none;
  text-align: center;
  width: clamp(10rem, 20rem, 80vw);
}
.search-container label input:focus {
  outline: 2px solid #A72608;
}
.search-container button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #187795;
  outline: none;
  border-radius: 50%;
  align-self: center;
  border: 2px solid #187795;
  cursor: pointer;
}
.search-container button:focus {
  border: 2px solid #F0C808;
}
.search-container button:hover, .search-container button:hover > * {
  background-color: #A72608;
}
.search-container button i {
  width: 1.5rem;
  color: white;
  font-size: 1.2rem;
  margin: 0.25rem;
}

/* ---------------- */
/* Main Container */
/* ---------------- */
.main {
  /* ---------------- */
  /* Weather Section */
  /* -------------- */
  min-width: 80%;
  width: 80%;
  margin: auto;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  /* ---------------- */
  /* Hazards Section */
  /* -------------- */
}
.main .title {
  width: 100%;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  color: #F0C808;
}
.main .description {
  width: 100%;
  text-align: center;
  color: #F0C808;
  font-size: large;
}
.main .temp-container {
  width: 100%;
  height: 30%;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
}
.main .temp-container > * {
  min-width: 4rem;
  flex-grow: 1;
  flex-basis: 33%;
  text-align: center;
}
.main .temp-container .average {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .temp-container .average :first-child {
  font-size: larger;
  font-weight: bold;
  color: #B7B6C1;
}
.main .temp-container .average :nth-child(2) {
  font-weight: bold;
  font-size: larger;
  flex-grow: 1;
}
.main .temp-container .medians {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .temp-container .medians h3 > p {
  color: #B7B6C1;
}
.main .temp-container .weather-icons {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.main .hazards-container {
  width: 100%;
  display: flex;
  height: 33vh;
  flex-wrap: wrap;
}
.main .hazards-container .hazard-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 2rem;
}
.main .hazards-container .hazard-list > * {
  flex-grow: 1;
  width: clamp(4rem, 25%, 100%);
  flex-wrap: wrap;
}
.main .hazards-container .hazard-list .hazard-choice {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 0.25rem;
  min-width: 10rem;
}
.main .hazards-container .hazard-list .hazard-choice img {
  width: 50%;
}
.main .hazards-container .hazard-list .hazard-choice i {
  color: #A72608;
  font-size: 4rem;
  display: block;
}
.main .hazards-container .hazard-list .hazard-choice .tooltip {
  background-color: #A72608;
  display: inline-block;
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  top: 0;
}
.main .hazards-container .hazard-list .hazard-choice .tooltip .tooltip-text {
  opacity: 0;
  height: 0;
  overflow: hidden;
  text-align: center;
  color: #F0C808;
  transition: opacity 0.4s;
  border-radius: 10px;
  font-size: small;
}
.main .hazards-container .hazard-list .hazard-choice .tooltip .tooltip-text.active {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 1;
  padding: 0.25rem;
}/*# sourceMappingURL=style.css.map */