//imports
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

//Variables
$background:#071013;
$primary:#187795;
$contrast: #F0C808;
$detail: #B7B6C1; 
$detail-2:#A72608;
//consts


//styling Starts Here
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
}
body{
    margin: auto;
    background-color: $primary;
    position: relative;
    overflow-x: hidden;
}

/* Nav Bar - Common  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: $primary;
    width:100%;
    min-height: 7vh;

    .logo-container{
        display: flex;
        gap: 0.25rem;
        align-items: center;
        margin-left: 2rem;

        .logo-icon{
            
            img{
                max-width: 2rem;
            }
        }

        .logo {
            font-size: larger;
            color: $contrast;
            font-weight: bold;
        }
    }

    .nav-btn {
        margin-right: 2rem;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $detail-2;
        border: none;
        border-radius: 5px;

        &:hover {
        background-color: #F0C808;
        }

        img{
        max-width: 1.5rem;
        transition:0.4s;
        border-radius: 5px;

        &.active {
            transform: rotate(90deg);
            background-color: #F0C808;
            
            
        }
        }
    }
}
/* Aside-right */
 .nav-links {
     border-radius: 5px;
     position: absolute;
     right:-100%;
     height: 90vh;
     background-color: $detail;
     transition: ease-in, 0.4s;
     visibility: hidden;
    

     &.active {
        right: 0;   
        visibility: visible;
     }

     ul {
         display: flex;
         flex-direction: column;
         list-style: none;
         align-items: center;
         width: 20vw;
         align-items: center;
         justify-content: center;

         

         li {
            display: flex;
            align-items: center;
            color: $primary;
            width: 100%;
            height: 3rem;
            box-shadow: 0 4px 2px -2px gray;
            

            &:hover, &:hover>*{
                    background-color: $detail-2;
                    color: $contrast;
                    cursor: pointer;
                }

            a {
                text-decoration: none;
                color: $primary;
            }
            

         }
     }
 }
/* ------------------- */
/* MOBILE NAV-links STYLING */
/* ----------------- */

@media only screen and (max-width: 600px) {
    .nav-links{
        width: 100vw;
        
        ul {
            width: 100%;
           
            li {
                justify-content: center;
                box-shadow: 0 4px 2px -2px gray;
            }
        }
    }
}

/* ---------------- */
/* Search Container */
/* ---------------- */

.search-container {
    //border: 2px solid $detail-2;
    height: 4rem;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 0.5rem;

    label {
        display: flex;
        align-items: center;
        justify-content: center;

        input{
            background-color: white;
            height: 1.5rem;
            border: none;
            border-radius: 10px;
            outline: none;
            text-align: center;
            width: clamp(10rem, 20rem, 80vw);

            &:focus {
                outline: 2px solid $detail-2;
            }
        }
    }


    button {
        width: fit-content;    
        background-color: $primary;
        outline: none;
        border-radius: 50%;
        align-self: center;
        border: 2px solid $primary;
        cursor: pointer;
        &:focus {
            border: 2px solid $contrast;
        }
        
        &:hover, &:hover>* {
            background-color: $detail-2;
        }

        i{
            width: 1.5rem;
            color: white;
            font-size: 1.2rem;
            margin: 0.25rem;
           
        }
    }
}

/* ---------------- */
/* Main Container */
/* ---------------- */

.main {
    /* ---------------- */
    /* Weather Section */
    /* -------------- */
    border: 2px solid $detail-2;
    width: 80%;
    margin: auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .title{
        border: 2px solid black;
        width: 100%;
        text-align: center;
    }

    .description{
        border: 2px solid blue;
        width: 100%;
        text-align: center;
    }

    .temp-container{
        border: 2px solid red;
        width: 100%;
        height: 30%;
        align-self: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        >* {
            border: 2px dashed blue;
        }

        .medians{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    /* ---------------- */
    /* Hazards Section */
    /* -------------- */

    .hazards-container{
        border:2px solid black;
        width: 100%;

        .hazard-list{
            border: 2px solid red;
            display: flex;
            flex-wrap: wrap;

            >* {
                border: dashed 2px yellow;
                flex-grow: 1;
                min-width: 25%;
            }
        }
    }
}

