//imports
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

//Variables
$background:#071013;
$primary:#187795;
$contrast: #F0C808;
$detail: #B7B6C1; 
$detail-2:#A72608;
$ice: #8ac9df;
//consts


//styling Starts Here

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
}
body{
    margin: auto;
    background-color: $primary;
    position: relative;
    overflow-x: hidden;
}

/* Nav Bar - Common  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: $primary;
    width:100%;
    min-height: 7vh;

    .logo-container{
        display: flex;
        gap: 0.25rem;
        align-items: center;
        margin-left: 2rem;

        .logo-icon{
            
            img{
                max-width: 2rem;
            }
        }

        .logo {
            font-size: larger;
            color: $contrast;
            font-weight: bold;
        }
    }

    .nav-btn {
        margin-right: 2rem;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $detail-2;
        border: none;
        border-radius: 5px;

        &:hover {
        background-color: #F0C808;
        }

        img{
        max-width: 1.5rem;
        transition:0.4s;
        border-radius: 5px;

        &.active {
            transform: rotate(90deg);
            background-color: #F0C808;
            
            
        }
        }
    }
}
/* Aside-right */
 .nav-links {
     border-radius: 5px;
     position: absolute;
     right:-100%;
     height: 90vh;
     background-color: $detail;
     transition: ease-in, 0.4s;
     visibility: hidden;
     z-index: 1000;
    

     &.active {
        right: 0;   
        visibility: visible;
     }

     ul {
         display: flex;
         flex-direction: column;
         list-style: none;
         align-items: center;
         width: 20vw;
         align-items: center;
         justify-content: center;

         

         li {
            display: flex;
            align-items: center;
            color: $primary;
            width: 100%;
            height: 3rem;
            box-shadow: 0 4px 2px -2px gray;
            

            &:hover, &:hover>*{
                    background-color: $detail-2;
                    color: $contrast;
                    cursor: pointer;
                }

            a {
                text-decoration: none;
                color: $primary;
            }
            

         }
     }
 }
/* ------------------- */
/* MOBILE NAV-links STYLING */
/* ----------------- */

@media only screen and (max-width: 600px) {
    .nav-links{
        width: 100vw;
        
        ul {
            width: 100%;
           
            li {
                justify-content: center;
                box-shadow: 0 4px 2px -2px gray;
            }
        }
    }
}

/* ---------------- */
/* Search Container */
/* ---------------- */

.search-container {
    //border: 2px solid $detail-2;
    height: 4rem;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 0.5rem;

    label {
        display: flex;
        align-items: center;
        justify-content: center;

        input{
            background-color: white;
            height: 1.5rem;
            border: none;
            border-radius: 10px;
            outline: none;
            text-align: center;
            width: clamp(10rem, 20rem, 80vw);

            &:focus {
                outline: 2px solid $detail-2;
            }
        }
    }


    button {
        width: fit-content;    
        background-color: $primary;
        outline: none;
        border-radius: 50%;
        align-self: center;
        border: 2px solid $primary;
        cursor: pointer;
        &:focus {
            border: 2px solid $contrast;
        }
        
        &:hover, &:hover>* {
            background-color: $detail-2;
        }

        i{
            width: 1.5rem;
            color: white;
            font-size: 1.2rem;
            margin: 0.25rem;
           
        }
    }
}

/* ---------------- */
/* Main Container */
/* ---------------- */

.main {
    /* ---------------- */
    /* Weather Section */
    /* -------------- */
    border: 2px solid $detail-2;
    min-width: 80%;
    width: clamp(80%,80%,80%);
    margin: auto;
    min-height:clamp(60vh, 60vh, 60vh);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    .title{
        width: 100%;
        text-align: center;
        font-size: larger;
        font-weight: bold;
        color: $contrast;
    }

    .description{
        width: 100%;
        text-align: center;
        color: $contrast;
        font-size: large;
    }

    .temp-container{
        width: 100%;
        height: 30%;
        align-self: flex-start;
        display: flex;
        flex-wrap: wrap;

        & > * {
            min-width: 4rem;
            flex-grow: 1;
            flex-basis: 33%;
            text-align: center;
        }

        .average {
            display: flex;
            flex-direction: column;
            align-items: center;

            :first-child{
                font-size: larger;
                font-weight: bold;
                color: $detail;
            }

            :nth-child(2) {
                font-weight: bold;
                font-size: larger;
                flex-grow: 1;
            }
        }


        .medians{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3 > p {
                color: $detail;
            }
        }

        .weather-icons {
            display: flex;
            justify-content: center;
            justify-items: center;
        }
    }

    /* ---------------- */
    /* Hazards Section */
    /* -------------- */

    .hazards-container{
        //border:2px solid black;
        width: 100%;
        display: flex;
        height:33vh;
        flex-wrap: wrap;

        .hazard-list{
            //border: 2px solid red;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            gap: 2rem;
            

            >* {
                //border: dashed 2px yellow;
                flex-grow: 1;
                width:clamp(4rem, 25%, 100%);
                flex-wrap: wrap;
            }

            .hazard-choice{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                gap: 0.25rem;
                

                img { // remove after styling
                    width: 50%;
                    //border: 2px solid black;
                    
                }

                i {
                    color: $ice ;
                    font-size: 4rem;
                    display: block;
                    //border: 2px solid black;
                   
                }
                .tooltip {
                    background-color: $detail-2;                   
                    display: inline-block;
                    width: 80%;
                    height: fit-content;
                    border-radius: 10px;
                    top: 0;
                    

                    .tooltip-text{
                        opacity: 0;
                        height: 0;
                        overflow: hidden;
                        text-align: center;
                        color: $contrast;
                        transition: opacity 0.4s;
                        border-radius: 10px;
                        font-size: small;

                        &.active {
                                height: fit-content;
                                opacity: 1;
                                //border: 2px dashed $detail;
                            }
                    }

                }
            }
        }
    }

}

